:root {
  --color-1: #EE1C24;
  --color-2: #004EB3;
  --color-3: #F6EFE3;
  --color-4: #828F85;
  --color-5: #5E534A;
  --color-6: #2F2F27;
  --color-7: #110000;
}

@font-face {
  font-family: 'GhostChase';
  src: url('assets/fonts/ghostchase/GhostChase.ttf')  format('truetype');
}

@font-face {
  font-family: 'Kampung_Zombie';
  src: url('assets/fonts/kampung_zombie/Kampung_Zombie.ttf')  format('truetype');
}

@font-face {
  font-family: 'N8ghtmare';
  src: url('assets/fonts/n8ghtmare/N8ghtmare.ttf')  format('truetype');
}

html body { 
  background-image: url('assets/img/bg.jpg');
  background-position: center;
  background-repeat: repeat; 
  background-size: cover;
  color: var(--color-3) !important;
}

a {
  text-decoration: none;
}

.lobby-nav-links div a {
  text-decoration: none;
  font-family: 'Kampung_Zombie' !important;
  font-size: 1.5rem;
  color: var(--color-3) !important;
}


.lobby-title {
  font-family: 'GhostChase' !important;
}

#lobby-main-title {
  font-size: 5rem;
  margin-bottom: 30px;

}

#lobby-main-subtitle {
  font-size: 1.8rem;
}

#nav-main-title {
  font-family: 'GhostChase' !important;
  text-decoration: none;
  font-size: 2em;
  color: var(--color-3);
}

.main-nav-item {
  color: var(--color-6);
}

#lobby-linkedin-icon {
  color: var(--color-2);
}

#lobby-github-icon {
  color: var(--color-1);
}

#lobby-codepen-icon {
  color: var(--color-3);
}

img { 
  max-width: 100%;
}

/* Markdown output */
pre code{
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-left: 3px solid var(--color-1);
  color: var(--color-6);
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1em 1.5em;
  display: block;
  word-wrap: break-word;
}

.css-ha3bif-MuiTimelineItem-root:before {
  content: none !important;
}